body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 98.5%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 10px 20px;
  margin-top: -1rem;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/* MENU */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* BURGER */
.burger {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    width: 200px;
    padding: 15px;
  }

  .nav-links.active {
    display: flex;
  }
}
